body {background-color: #fffcdb; }
h1{
    padding: 0.5em; /*文字周りの余白*/
    color: #494949; /*文字色*/
    background: #fffaf4; /*背景色*/
    border-left: solid 5px #ffaf58; /*左線（実線 太さ 色）*/
}
h2{
border-bottom: double 5px #FFC778;
}
table {
    border-collapse:  collapse; /* セルの線を重ねる */
}
th,td {
    border: solid 1px;  /* 枠線指定 */
    padding: 10px;      /* 余白指定 */
}
th {
    background-color:  #e6e6fa; /* 背景色指定 */
    color:  ##000080;           /* 文字色指定 */
}
.yellow_marker{background: linear-gradient(to bottom,transparent 60%, #ffff66 60%);}